body {
    background-color: #18191B;
}
.content-home {
    padding-top: 20%;
    width: 50%;
    margin: auto;
}
h1 {
    color: #ffffff;
}
.select {
    padding-top: 10%;
}
.form-select {
    background-color: #33353a;
    color: #ffffff;
    border-color: black;
    border-width: 1px;
}
.select-nav {
    background-color: #ffffff;
    color: #6d6d6d;
    width: 13rem;
    margin-right: 1rem;
}
.btn-nav {
    background-color: #424242;
    margin-right: 2rem;
}
.btn-dark {
    background-color: #33353a;
}