* {
    color: #ffffff;
}
body {
    background-color: #18191B;
}
.content-home {
    padding-top: 20%;
    width: 50%;
    margin: auto;
}
h1 {
    color: #ffffff;
}
.select {
    padding-top: 10%;
}
.form-select {
    background-color: #33353a;
    color: #ffffff;
    border-color: black;
    border-width: 1px;
}
.select-nav {
    background-color: #ffffff;
    color: #000;
    width: 13rem;
    margin-right: 1rem;
} 
.select-nav option {
    color: #333;
}
.btn-nav {
    background-color: #424242;
    margin-right: 2rem;
}
.btn-dark {
    background-color: #33353a;
}
.title-primary {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.title-secondary {
    margin-top: 2.5rem;
    margin-bottom: 1.75rem;
}
.img-responsive {
    margin-bottom: 2rem;
}
.cartaz {
    width: 20%;
    height: 100%;
}
.content {
    width: 60%;
    color: #ffffff;
    font-size: 1.1rem;
    text-align: justify;
}
.content-cartaz{
    width: 55%;
    padding-left: 5rem;
    color: #ffffff;
    font-size: 1.1rem;
    text-align: justify;
}

/* Correção de bug */
.row {
    width: 99%;
}